<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="..\static\css\dark-theme.css">
    <link rel="stylesheet" href="..\static\css\light-theme.css">
    
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Darker+Grotesque:wght@300;400;500;700;900&family=League+Spartan&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <nav>
        <div class="logo"><img src="" alt="">Logo</div>

        <ul>
            <li><a href="#">My Earning</a></li>
            <li><a href="#">My Jobs</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Log in</a></li>
            <li><a href="#">Sign up</a></li>
            <li><a href="#"><i class="fas fa-circle-half-stroke" aria-hidden="true"></i></a></li>
        </ul>        
    </nav>

    <section>
        <div class="search">
            <h1>Recently added jobs</h1>
            <input class="search-bar" type="text" placeholder="search jobs...">
        </div>
        

        
        <div class="ccards">
            <div class="ccard">
                <div class="ccard-left">
                    <i class="ccard-img fa-solid fa-briefcase fa-3x"></i>
                </div>
                <div class="ccard-right">
                    <div class="ccard-title">
                        Web Developer
                    </div>
                    <div class="ccard-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore in deleniti expedita magnam quidem adipisci repudiandae quam assumenda impedit beatae dicta autem voluptatem, dolor aperiam velit, corporis perspiciatis ad? Quasi, minus magnam. Accusantium explicabo fugiat ea officiis repellendus! Iure, perferendis!
                    </div>
                </div>
            </div>
            <div class="ccard">
                <div class="ccard-left">
                    <i class="ccard-img fa-solid fa-briefcase fa-3x"></i>
                </div>
                <div class="ccard-right">
                    <div class="ccard-title">
                        Web Developer
                    </div>
                    <div class="ccard-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore in deleniti expedita magnam quidem adipisci repudiandae quam assumenda impedit beatae dicta autem voluptatem, dolor aperiam velit, corporis perspiciatis ad? Quasi, minus magnam. Accusantium explicabo fugiat ea officiis repellendus! Iure, perferendis!
                    </div>
                </div>
            </div>
            <div class="ccard">
                <div class="ccard-left">
                    <i class="ccard-img fa-solid fa-briefcase fa-3x"></i>
                </div>
                <div class="ccard-right">
                    <div class="ccard-title">
                        Web Developer
                    </div>
                    <div class="ccard-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore in deleniti expedita magnam quidem adipisci repudiandae quam assumenda impedit beatae dicta autem voluptatem, dolor aperiam velit, corporis perspiciatis ad? Quasi, minus magnam. Accusantium explicabo fugiat ea officiis repellendus! Iure, perferendis!
                    </div>
                </div>
            </div>
            <div class="ccard">
                <div class="ccard-left">
                    <i class="ccard-img fa-solid fa-briefcase fa-3x"></i>
                </div>
                <div class="ccard-right">
                    <div class="ccard-title">
                        Web Developer
                    </div>
                    <div class="ccard-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore in deleniti expedita magnam quidem adipisci repudiandae quam assumenda impedit beatae dicta autem voluptatem, dolor aperiam velit, corporis perspiciatis ad? Quasi, minus magnam. Accusantium explicabo fugiat ea officiis repellendus! Iure, perferendis!
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h1>Explore Categories</h1>

        <div class="category-container">
            <div class="category">
                <div class="icon">
                    <i class="fa fa-handshake fa-xl" aria-hidden="true"></i>                
                </div>
                <p class="desc">
                    Business
                </p>
            </div>
            <div class="category">
                <div class="icon">
                    <i class="fa fa-code fa-xl" aria-hidden="true"></i>                
                </div>
                <p class="desc">
                    Programming &amp; Tech
                </p>
            </div>
            <div class="category">
                <div class="icon">
                    <i class="fa fa-book fa-xl" aria-hidden="true"></i>                
                </div>
                <p class="desc">
                    Writing
                </p>
            </div>
            <div class="category">
                <div class="icon">
                    <i class="fa fa-code fa-xl" aria-hidden="true"></i>                
                </div>
                <p class="desc">
                    Programming
                </p>
            </div>
            <div class="category">
                <div class="icon">
                    <i class="fa fa-code fa-xl" aria-hidden="true"></i>                
                </div>
                <p class="desc">
                    Programming
                </p>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-top">
            <div class="footer-container">
                <h3>Company Name</h3>
    
                <ul>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Help and support</a></li>
                </ul>
            </div>
    
            <div class="footer-container">
                <h3>About</h3>
    
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">How it works</a></li>
                </ul>
            </div>
    
            <div class="footer-container">
                <h3>Terms</h3>
    
                <ul>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms &amp; services</a></li>
                </ul>
            </div>
    
        </div>
        
        <div class="copyright">            

            <p>Freelancers &copy; 2022</p>

            <ul class="contacts">
                <li><a href="#"><i class="fab fa-telegram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </footer>

    <script src="" async defer></script>
</body>

</html>