<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="..\static\css\dark-theme.css">
    <link rel="stylesheet" href="..\static\css\light-theme.css">
    
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Darker+Grotesque:wght@300;400;500;700;900&family=League+Spartan&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <nav>
        <div class="logo"><img src="" alt="">Logo</div>

        <ul>
            <li><a href="#">My Earning</a></li>
            <li><a href="#">My Jobs</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Log in</a></li>
            <li><a href="#">Sign up</a></li>
            <li><a href="#"><i class="fas fa-circle-half-stroke" aria-hidden="true"></i></a></li>
        </ul>        
    </nav>
      
    <header class="auth">
        <h3>Log in</h3>

        <form class="auth" action="#">
            <div class="field">
                <input type="email" placeholder="Email" required>
            </div>

            <div class="field">
                <input type="password" placeholder="Password" required>
            </div>

            <div class="flex">
                <a href="#">Forget Password?</a>
                <input type="submit" value="Log in">
            </div>
        </form>              
    </header>

    <footer>
        <div class="footer-top">
            <div class="footer-container">
                <h3>Company Name</h3>
    
                <ul>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Help and support</a></li>
                </ul>
            </div>
    
            <div class="footer-container">
                <h3>About</h3>
    
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">How it works</a></li>
                </ul>
            </div>
    
            <div class="footer-container">
                <h3>Terms</h3>
    
                <ul>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms &amp; services</a></li>
                </ul>
            </div>
    
        </div>
        
        <div class="copyright">            

            <p>Freelancers &copy; 2022</p>

            <ul class="contacts">
                <li><a href="#"><i class="fab fa-telegram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </footer>

    <script src="" async defer></script>
</body>

</html>