{% extends 'base.html' %} {% block title %}Finance{% endblock %} {% block body
%}
<section>
  <h2>Payment history</h2>
  <table>
    <thead>
      <tr>
        <th>Job</th>
        <th>Payment</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for job_history in current_user.job_history %}
      <tr>
        <td>{{job_history.job.title}}</td>
        <td>{{job_history.payment}}</td>
        <td>{{job_history.completion_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>
    Total in escorw: <strong>{{current_user.get_fund_in_escrow()}} ETB</strong>
  </p>
  <p>Total in account: <strong>{{current_user.balance}} ETB</strong></p>

  <p><button class="small">Withdraw</button></p>
</section>
{% endblock %}
