{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('job_bp.static', filename='css/style.css')}}"
/>
{% endblock %} {% block body %} {% if message %}
<div class="message">{{message}}</div>
{% endif %}
<section class="container" style="min-height: 60vh">
  <div class="call-to-action">
    <button data-target="active" class="tab active">Active</button>
    <button data-target="pending" class="tab">Pending</button>
    <button data-target="rejected" class="tab">Rejected</button>
    <button data-target="completed" class="tab">Completed</button>
  </div>

  <div class="tab-content" id="active">
    {% for contract in current_user.get_contracts() %} {% if (contract.status ==
    "A" or contract.status == "P") %}
    <div class="underlined">
      <div class="user-title" data-target="{{contract.id}}">
        <div class="title">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          <h4 style="margin-left: 1rem">{{contract.job.title}}</h4>
        </div>
      </div>

      <div class="hidden" id="{{contract.id}}">
        {% if contract.status == "P" %}
        <div class="job-desc">
          <h4 class="highlight-warning">Employer has sent refund request.</h4>
          <div class="flex justify-start">
            <a
              class="button"
              href="{{url_for('contract_bp.accept_or_reject_refund', contract_id=contract.id, response='accept')}}"
              >Accept</a
            >
            <a
              class="button"
              href="{{url_for('contract_bp.accept_or_reject_refund', contract_id=contract.id, response='reject')}}"
              >Decline</a
            >
          </div>
        </div>
        {% endif %}
        <div class="job-desc">
          <h4>Contract budget</h4>
          <p class="highlight">{{contract.escrow[0].amount}} ETB</p>
        </div>
        <div class="job-desc">
          <h4>Deadline</h4>
          <p class="highlight">{{contract.deadline}}</p>
        </div>
        <div class="job-desc">
          <div class="user-title" data-target="{{contract.id}}-submissions">
            <div class="title">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              <h4 style="margin-left: 1rem">Submissions</h4>
            </div>
          </div>

          <div
            class="hidden"
            style="margin-left: 1rem"
            id="{{contract.id}}-submissions"
          >
            {% for submission in contract.submissions %} {% if
            submission.attachment %}
            <div
              class="user-title"
              data-target="{{submission.attachment[0].id}}"
            >
              <div class="title">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <h4 style="margin-left: 1rem">
                  {{submission.submission_date}}
                </h4>
              </div>
            </div>
            <div class="hidden" id="{{submission.attachment[0].id}}">
              {% for attachment in submission.attachment %}
              <div class="job-desc">
                <a
                  class="highlight"
                  href="{{url_for('files', id=attachment.file.id)}}"
                  >{{attachment.file.file_name}}</a
                >
              </div>
              {% endfor %}
            </div>
            {% else %}
            <div class="user-title" data-target="">
              <div class="title">
                <h4 style="margin-left: 1rem">
                  Marked as completed at {{submission.submission_date}}
                </h4>
              </div>
            </div>
            {% endif %} {% endfor %}
            <form
              class="job-desc"
              enctype="multipart/form-data"
              method="post"
              action="{{url_for('contract_bp.submit_work', contract_id=contract.id)}}"
            >
              <h4>Submit work</h4>
              <p>You can attach your work here.</p>
              <div class="flex justify-start" style="margin-bottom: 0.5rem">
                <input type="file" name="files" multiple="multiple" />
              </div>
              <div class="flex justify-start">
                <input class="button" type="submit" value="Submit work" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

  <div class="tab-content hidden" id="pending">
    {% for contract in current_user.get_contracts() %} {% if not contract.status
    %}
    <div class="underlined">
      <div class="user-title" data-target="{{contract.id}}">
        <div class="title">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          <h4 style="margin-left: 1rem">{{contract.job.title}}</h4>
        </div>
      </div>

      <div class="hidden" id="{{contract.id}}">
        <div class="job-desc">
          <h4>Contract budget</h4>
          <p class="highlight">{{contract.escrow[0].amount}} ETB</p>
        </div>
        <div class="job-desc">
          <h4>Deadline</h4>
          <p class="highlight">{{contract.deadline}}</p>
        </div>
        <div class="flex justify-start">
          <a
            class="button"
            href="{{url_for('contract_bp.accept_or_reject_contract', contract_id=contract.id, response='accept')}}"
            >Accept</a
          >
          <a
            class="button"
            href="{{url_for('contract_bp.accept_or_reject_contract', contract_id=contract.id, response='reject')}}"
            >Decline</a
          >
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

  <div class="tab-content hidden" id="rejected">
    {% for contract in current_user.get_contracts() %} {% if contract.status ==
    "R" %}
    <div class="underlined">
      <div class="user-title" data-target="{{contract.id}}">
        <div class="title">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          <h4 style="margin-left: 1rem">{{contract.job.title}}</h4>
        </div>
      </div>

      <div class="hidden" id="{{contract.id}}">
        <div class="job-desc">
          <h4>Contract budget</h4>
          <p class="highlight">{{contract.escrow[0].amount}} ETB</p>
        </div>
        <div class="job-desc">
          <h4>Deadline</h4>
          <p class="highlight">{{contract.deadline}}</p>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

  <div class="tab-content hidden" id="completed">
    {% for contract in current_user.get_contracts() %} {% if (contract.status ==
    "F" or contract.status == "C") %}
    <div class="underlined">
      <div class="user-title" data-target="{{contract.id}}">
        <div class="title">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          <h4 style="margin-left: 1rem">{{contract.job.title}}</h4>
        </div>

        {% if contract.status == "C" %}
        <a class="highlight-warning">Cancelled</a>
        {% endif %}
      </div>

      <div class="hidden" id="{{contract.id}}">
        <div class="job-desc">
          <h4>Contract budget</h4>
          <p class="highlight">{{contract.escrow[0].amount}} ETB</p>
        </div>
        <div class="job-desc">
          <h4>Deadline</h4>
          <p class="highlight">{{contract.deadline}}</p>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</section>

<script>
  const tab_btns = document.querySelectorAll(".tab");
  const tabs = document.querySelectorAll(".tab-content");
  tab_btns.forEach((tabbtn) => {
    tabbtn.addEventListener("click", () => {
      tabs.forEach((tab) => tab.classList.toggle("hidden", true)); // hide all tabs
      tab_btns.forEach((tab) => tab.classList.toggle("active", false)); // remove underline from all tab btns
      const targetid = tabbtn.dataset.target;
      document.getElementById(targetid)?.classList.toggle("hidden", false); //unhide selected tab
      tabbtn.classList.toggle("active", true); //underline selected tab header
    });
  });

  let titles = document.querySelectorAll(".user-title");
  titles.forEach((title) => {
    title.addEventListener("click", () => {
      const chevron = title.querySelector("i");
      if (chevron?.classList.contains("fa-chevron-right")) {
        chevron?.classList.toggle("fa-chevron-right", false);
        chevron?.classList.toggle("fa-chevron-down", true);
        document
          .getElementById(title.dataset.target)
          ?.classList.toggle("hidden", false);
      } else {
        chevron?.classList.toggle("fa-chevron-right", true);
        chevron?.classList.toggle("fa-chevron-down", false);
        document
          .getElementById(title.dataset.target)
          ?.classList.toggle("hidden", true);
      }
    });
  });
</script>

{% endblock %}
