section,
header {
  padding: 0.1rem 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  color: var(--primary-fg);
}

button:hover {
  background-color: transparent;
  color: var(--link-hover);
}

section {
  position: relative;
}

header {
  display: block;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  height: 90vh;
}

.chat-item {
  padding: 0.5rem;
  display: flex;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.chat-item.active {
  background-color: powderblue;
}
.chat-item.active .text {
  color: var(--link);
}

.chat-item:hover {
  background-color: powderblue;
}
.chat-item:hover .text {
  color: var(--primary-fg);
}

.chat-item .group {
  margin-left: 0.75rem;
}

.chat-item .username {
  font-size: medium;
  margin-bottom: 0.3rem;
}

.chat-item .text {
  color: gray;
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-list {
  border-right: 1px solid gray;
}

.chat-list .chat-item {
  border-bottom: solid 1px gray;
}

.chat-list,
.chat-detail {
  padding: 0.7rem 0.5rem;
}

.chat-history {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow-y: auto;
  height: 71vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* border-right: 1px solid gray; */
}

.text-message,
.file-message {
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.75rem;
  border: 1px solid blueviolet;
  background-color: powderblue;
  border-radius: var(--radius);
  max-width: 40%;
}

.text-message {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem;
}

.text-message.sent,
.file-message.sent {
  align-self: end;
}

.file-message .content {
  margin-bottom: 0.5rem;
  padding: 0 0.3rem;
}

.time {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: small;
  text-align: right;
  color: blueviolet;
}

.user-input {
  position: absolute;
  background-color: powderblue;
  bottom: 0;
  width: 100%;
  border-top: 1px solid gray;
}

.underline {
  text-decoration: underline;
}

.options {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 0.5rem;
}

.options li {
  padding: 0.1rem 0.5rem;
}

.user-input .menu-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.file-upload-form {
  padding: 0.5rem;
}

#text-input {
  padding: 1rem;
  height: 2rem;
  overflow-y: auto;
  background-color: whitesmoke;
}

form > label[for="file"] {
  cursor: pointer;
}

.hidden {
  display: none;
}

#clear-file {
  cursor: pointer;
}

@media (max-width: 700px) {
  .chat-detail {
    display: none;
  }

  .main {
    grid-template-columns: 1fr 2fr;
  }
}
