{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('job_bp.static', filename='css/style.css')}}" />
<script src="https://kit.fontawesome.com/935ba23ae2.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

    <section>
        <div class="search">
            <h1>Recently added jobs</h1>
            <input id="search-bar" type="text" placeholder="search jobs...">
            <button type="submit" onclick="filter()">Search</button>
        </div>
        <div class="posted-jobs">

        </div>
    </section>

    <section>
        <h1>Explore Categories</h1>

        <div class="category-container">
            <div class="category">
                <div class="icon">
                    <i class="fa fa-handshake fa-xl" aria-hidden="true"></i>                
                </div>
                <p class="desc">
                    Business
                </p>
            </div>
            <div class="category">
                <div class="icon">
                    <i class="fa fa-code fa-xl" aria-hidden="true"></i>                
                </div>
                <p class="desc">
                    Programming &amp; Tech
                </p>
            </div>
            <div class="category">
                <div class="icon">
                    <i class="fa fa-book fa-xl" aria-hidden="true"></i>                
                </div>
                <p class="desc">
                    Writing
                </p>
            </div>
            <div class="category">
                <div class="icon">
                    <i class="fa fa-code fa-xl" aria-hidden="true"></i>                
                </div>
                <p class="desc">
                    Programming
                </p>
            </div>
            <div class="category">
                <div class="icon">
                    <i class="fa fa-code fa-xl" aria-hidden="true"></i>                
                </div>
                <p class="desc">
                    Programming
                </p>
            </div>
        </div>
    </section>
<script>
    const url = new URL(document.URL);
    BASE_URL = `http://${url.hostname}:${url.port}`;
    async function filter(){
        const keyword = document.getElementById('search-bar').value.toLowerCase()

        document.querySelector(".posted-jobs").classList.toggle("show", true);

        let jobs = await fetch(`${BASE_URL}/job/filterJob`, {
                    method: "post",
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        key: keyword
                    })
                });
        jobs = await jobs.json()
        
        let noJobs = true;
        let contain = document.querySelector(".posted-jobs");
        contain.innerHTML = "";
        for (job of jobs) {
            noJobs = false;
            contain.innerHTML += `<div class="ccard">
            <div class="ccard-left">
                <i class="ccard-img fa-solid fa-briefcase fa-2x"></i>
            </div>
            <div class="ccard-right">
                <div class="ccard-title">
                    <span>${job.title}</span>
                    <span class="ccard-xp">[${job.experience_level}]</span>
                </div>
                <div class="ccard-desc">
                    ${job.description}
                </div>          
                <p class="ccard-budget">
                    ${job.budget} ETB
                </p>
            </div>
        </div>`;
        }
        if (noJobs){
            contain.innerHTML += `<div>No Matching Jobs</div>`
        }
    }
</script>
    
{% endblock %}