{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('job_bp.static', filename='css/style.css')}}" />
{% endblock %}

{% block body %}
<section class="container">
    <div class="call-to-action">
        <button onclick="post()">Post Job</button>
        <button onclick="showPosted()">See Posted Jobs</button>
    </div>
    <div class="posted-jobs">

    </div>
    <div class="post-form">
        <form action="{{url_for('job_bp.post')}}" class="form" method="POST">
            <div class="input">
                <label for="title">Job Title</label>
            <input type="text" name="title" id="title">
            </div>
            <div class="input">
                <label for="description">Description</label>
                <input type="text" name="description" id="description">
            </div>
            <div class="input">
                <label for="experience-level">Experience Level</label>
                <input type="text" name="experience-level" id="experience-level">                
            </div>
            <div class="input">
                <label for="budget">Budget</label>
                <input type="text" name="budget" id="budget">                
            </div>
            <button type="submit">Post Job</button>
        </form>
    </div>
</section>


<script>
    const url = new URL(document.URL);
    BASE_URL = `http://${url.hostname}:${url.port}`;
    
    function post() {
        document.querySelector('.post-form').classList.toggle('show');
        
    }
    async function showPosted() {
        document.querySelector('.posted').classList.toggle('show');
        let jobs = await fetch(`${BASE_URL}/job/myjobs`)
        jobs = await jobs.json()

    
        for(job of jobs){
            let div = document.createElement('div')
            div.className = 'job';
            div.innerHTML = `<div class="ccard">
        <div class="ccard-left">
            <i class="ccard-img fa-solid fa-briefcase fa-3x"></i>
        </div>
        <div class="ccard-right">
            <div class="ccard-title">
                ${job.title}
            </div>
            <div class="ccard-desc">
                ${job.description}
            </div>
        </div>
    </div>`


            let contain = document.querySelector('.container')
            let before = document.querySelector('.call-to-action')
            contain.insertBefore(div, before)
        }
    }
</script>

{% endblock %}