<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <nav>
      <div class="logo">
        <img src="/ui-mockups/sitemap/FSE-project-sitemap.png" alt="" />
      </div>
      <ul>
        <li>Home</li>
        <li>Jobs</li>
        <li>About</li>
        <li>Contact</li>
        <li>Log in</li>
      </ul>
    </nav>

    <header class="main">
      <!-- Chat list -->
      <section class="chat-list">
        <div class="chat-item">
          <div class="avater">
            <img src="/ui-mockups/sitemap/FSE-project-sitemap.png" alt="" />
          </div>

          <div class="group">
            <h1 class="username">Alli Rake</h1>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
              natus, dolore tenetur et illo iste aperiam id quo, doloribus quasi
              ipsam? Enim culpa aperiam corrupti!
            </p>
          </div>
        </div>
        <div class="chat-item">
          <div class="avater">
            <img src="/ui-mockups/sitemap/FSE-project-sitemap.png" alt="" />
          </div>

          <div class="group">
            <h1 class="username">Alli Rake</h1>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
              natus, dolore tenetur et illo iste aperiam id quo, doloribus quasi
              ipsam? Enim culpa aperiam corrupti!
            </p>
          </div>
        </div>
      </section>

      <!-- Chat panel -->
      <section>
        <div class="chat-history">
          <div class="text-message sent">
            <p class="content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              excepturi?
            </p>
            <div class="time">12:06 AM</div>
          </div>

          <div class="text-message">
            <p class="content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              excepturi?
            </p>
            <div class="time">12:06 AM</div>
          </div>

          <div class="text-message sent">
            <p class="content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              excepturi?
            </p>
            <div class="time">12:06 AM</div>
          </div>

          <div class="text-message">
            <p class="content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              excepturi?
            </p>
            <div class="time">12:06 AM</div>
          </div>

          <div class="text-message sent">
            <p class="content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              excepturi?
            </p>
            <div class="time">12:06 AM</div>
          </div>

          <div class="text-message sent">
            <p class="content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              excepturi?
            </p>
            <div class="time">12:06 AM</div>
          </div>
        </div>

        <div class="user-input">
          <ul class="format-options">
            <li><strong>B</strong></li>
            <li><em>I</em></li>
            <li><span class="underline">U</span></li>
            <li><button>Send</button></li>
          </ul>

          <div class="text-input" contenteditable="true"></div>
        </div>
      </section>

      <!-- Detail panel -->
      <section class="chat-detail">
        <div class="chat-item">
          <div class="avater">
            <img src="/ui-mockups/sitemap/FSE-project-sitemap.png" alt="" />
          </div>

          <div class="group">
            <h1 class="username">Alli Rake</h1>
            <p class="text">Online</p>
          </div>
        </div>
      </section>
    </header>

    <script src=""></script>
  </body>
</html>
